setuptools==68.2.2
wheel==0.41.2
build==1.0.3
pip==23.3.2
alembic==1.8.1
amqp==5.1.1
aniso8601==9.0.1
anyio==4.8.0
apispec==6.0.2
app==0.0.1
appdata==2.1.2
appdirs==1.4.4
arabic-reshaper==3.0.0
argcomplete==3.1.6
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
asn1crypto==1.5.1
astroid==2.15.4
backoff==2.2.1
beautifulsoup4==4.12.2
billiard==3.6.4.0
binaryornot==0.4.4
black==22.3.0
bleach==6.0.0
boto3==1.28.1
botocore==1.31.1
Brotli==1.0.9
cachetools==5.0.0
celery==5.2.7
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
chardet==5.1.0
charset-normalizer==3.1.0
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
colored==1.4.3
commonmark==0.9.1
comtypes==1.1.14
cookiecutter==2.1.1
coolname==2.2.0
coverage==7.2.5
cron-descriptor==1.3.0
cryptography==3.4.8
cssselect2==0.7.0
decorator==5.1.1
decouple==0.0.7
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
distlib==0.3.6
dj-database-url==2.3.0
Django==5.2
django-allauth==0.55.0
django-auto-logout==0.5.1
django-celery-beat==2.5.0
django-ckeditor==6.7.0
django-contrib-comments==2.2.0
django-cors-headers==4.3.1
django-countries==7.5.1
django-crispy-forms==2.0
django-debug-toolbar==4.0.0
django-environ==0.10.0
django-ipware==5.0.0
django-js-asset==2.1.0
django-mathfilters==1.0.0
django-renderpdf==4.0.0
django-storages==1.13.2
django-tailwind==4.0.1
django-timezone-field==5.0
django-yarn==0.0.2
djangorestframework==3.14.0
dnslib==0.9.23
dnspython==2.2.1
docker==6.0.1
docopt==0.6.2
ecdsa==0.18.0
env==0.1.0
environ==1.0
filebrowser-safe==1.1.1
filelock==3.12.0
firebase==4.0.1
flake8==3.9.2
Flask==2.2.2
Flask-Cors==3.0.10
Flask-Login==0.6.2
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==3.0.1
Flask-WTF==1.0.1
fonttools==4.39.3
fsspec==2024.12.0
future==0.18.3
gcloud==0.18.3
geocoder==1.38.1
googleapis-common-protos==1.59.1
gql==3.5.0
graphene==3.2.2
graphene-django==3.0.2
graphql-core==3.2.3
graphql-relay==3.2.0
grappelli-safe==1.1.1
greenlet==1.1.3.post0
gunicorn==20.1.0
html5lib==1.1
httplib2==0.22.0
idna==3.4
importlib_metadata==8.5.0
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
jwcrypto==1.5.0
kombu==5.2.4
lazy-object-proxy==1.9.0
lightning-utilities==0.11.9
localstack==1.3.1
localstack-client==1.39
localstack-ext==1.3.1
lxml==4.9.2
Mako==1.2.3
MarkupSafe==2.1.1
marshmallow==3.19.0
mccabe==0.6.1
Mezzanine==6.1.0    
mosaicml-cli==0.6.42
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysqlclient==2.1.1
networkx==3.4.2
ng==1.2.0
npm==0.1.1
npx==0.1.1
num2words==0.5.12
numpy==1.24.3
oauth2client==4.1.3
oauthlib==3.2.2
optional-django==0.1.0
oscrypto==1.3.0
packaging==22.0
pandas==2.0.1
pathspec==0.11.1
paystackapi==2.1.3
pbr==5.11.1
pdfkit==1.0.0
pillow==11.1.0
platformdirs==3.5.1
pluggy==1.0.0
plux==1.3.1
promise==2.3
prompt-toolkit==3.0.38
propcache==0.2.1
protobuf==4.23.3
psutil==5.9.4
py-cpuinfo==9.0.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.3.0
pycodestyle==2.7.0
pycparser==2.21
pycryptodome==3.18.0
pydyf==0.6.0
pyflakes==2.3.1
Pygments==2.14.0
pyHanko==0.18.1
pyhanko-certvalidator==0.22.0
PyJWT==2.1.0
pylint==2.17.4
PyMySQL==1.1.0
pyparsing==3.1.0
pypdf==3.8.1
pyphen==0.14.0
pypiwin32==223
pypng==0.20220715.0
Pyrebase4==4.7.1
pytest==7.3.1
pytest-cov==2.12.1
pytest-django==4.5.2
python-bidi==0.4.2
python-crontab==2.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-jose==3.3.0
python-jwt==4.0.0
python-slugify==8.0.1
python3-openid==3.2.0
pytorch-ranger==0.1.1
pyttsx3==2.90
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pyupgrade==2.38.4
pywin32==306
PyYAML==6.0
qrcode==7.4.2
questionary==2.1.0
ratelim==0.1.6
reportlab==3.6.13
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rich==13.0.1
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3transfer==0.6.0
semver==2.13.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.4.1
SQLAlchemy==1.4.41
sqlparse==0.4.4
stevedore==4.1.1
style==1.1.0
svglib==1.5.1
sympy==1.13.1
tabulate==0.9.0
tailer==0.4.1
termcolor==2.5.0
text-unidecode==1.3
tinycss2==1.1.1
tokenize-rt==4.2.1
toml==0.10.2
tomlkit==0.11.8
torch==2.5.1
torch-optimizer==0.3.0
torchmetrics==1.6.0
torchvision==0.20.1
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2022.7
tzlocal==4.3
uritools==4.0.1
urllib3==1.26.16
validators==0.34.0
vine==5.0.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
wcwidth==0.2.6
weasyprint==58.1
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
Werkzeug==2.2.2
whitenoise==6.6.0
windows-curses==2.3.1
wrapt==1.15.0
WTForms==3.0.1
xhtml2pdf==0.2.11
yarl==1.18.3
zipp==3.21.0
zopfli==0.2.2