{% extends 'users/layout/home.html' %} 
{% load static %} 

{% block content %}
<nav class="bg-white shadow-md px-6 py-4">
    <div class="flex items-center justify-between">
        <img src="{% static 'users/images/logo.jpg' %}" class="w-20 h-20" alt="logo" />

        <a href="#" class="text-2xl font-bold text-blue-600">GODU</a>

        <div class="relative">
            <button id="profileButton" class="flex items-center space-x-2 focus:outline-none">
                <img src="{{ user.profile_picture.url }}" class="w-10 h-10 rounded-full border" alt="Profile" />
                <span class="hidden md:inline text-gray-700">{{ user.fname }}</span>
            </button>

    </div>
</nav>


{% endblock %}